* {
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: right;
    margin: 40px;
    color: black;

}

#header{
    grid-area: header;
    background-image: url(img/dandelion.jpg);
}

#nav{
    grid-area: nav;
}

#content{
    grid-area: content;
}

#aside{
    grid-area: aside;
}

#footer{
    grid-area: footer;
}

#wrapper{
    display: grid;
    gap: 5px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
        "header nav nav"
        "aside footer content";
}

#wrapper > div{
    background-color: brown;
    border-radius: 5px;
    padding: 10px;
    height: 40vh;
    background-size: cover;
    opacity: 0.5;
}